@import url('https://fonts.googleapis.com/css2?family=Offside');

body {
    background-image: url(../images/goku_yellow.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.movieTitle {
    padding: 6px;
    font-size: 3em;
    background-color: #e02508;
    color: white;
    text-align: center;
    font-weight: bold;
}

.synopsisText {
    font-family: 'Offside';
    padding: 6px;
    font-size: 25px;
    text-align: justify;
}