@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');

body {
    background-image: url(../images/goku_blue.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.movieTitle {
    padding: 6px;
    font-size: 3em;
    background-color: #b28f07;
    color: white;
    text-align: center;
    font-weight: bold;
}

.synopsisText {
    font-family: 'Josefin Sans';
    padding: 6px;
    font-size: 25px;
    text-align: justify;
}